@charset "UTF-8";
/* CSS Document */
	
@media  screen and (min-width: 979px) { 
	.servicio{
		width: 17%;
		float:left;
		margin-right: 10px;
		margin-left: 10px;
		
	}
	.logo {
		height: 200px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media screen and (max-width: 979px) { 
	.servicio{
		width: 17%;
		float:left;
		margin-right: 30px;
		margin-left: 30px;
		height: 250px;
	}
	.logo {
		height: 150px;
	}
}
 
/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {
	.servicio{
		width: 100%;
		float:left;
		text-align:center;
	}
	.logo {
		height: 120px;
	}
}
 
/* Landscape phones and down */
@media screen and(max-width: 480px) { 
	.servicio{
		width: 100%;
		float:left;
		text-align: center;
		
	}
	.logo {
		height: 80px;
	}
}
.page{
		margin: 2px auto;
	
	}
	p {
		font-family:arial;
		font-size:10pt;
		color:#FFF;
	}
	
	.villa {
		width: 100%;
		margin: 0 auto;
		float: left !important;
		padding: 10px;
		text-align: center;
	}
	.villa-container {
		margin: 0 auto;
		width:70%;
		
	}
	.logo {
		background-image: url("img/redlibre_.png");
		background-repeat: no-repeat;
		background-size: 100% auto;
       position: relative;
    	top: 15px;
	}
	.menu{
		width: 55%;
		margin: 0 auto;
		padding: 10px;
	}
	
	.text-center {
		text-align:center;

	}
